table#cart {
    padding: .6em;
    border-radius: 5px;
    background-color: #fffaf0;
    color: #666666;
}

table#cart thead.cartThead {
    border-bottom: 2px solid #666666;
    color: #223446;
}

table#cart tr.cartItem {
    border-top: 1px solid black;
}

table#cart tr.cartFooter {
    border-bottom: 1px solid black;
    font-style: italic;
}

.actionBtn a, input.actionBtn, input.clearBtn {
    font: .8em Arial;
    margin: .5em;
    text-decoration: none;
    padding: .15em .15em .15em .15em;
    border: 1px solid black;
    border-radius: 3px;
}

input.actionBtn {
    color: whitesmoke;
    background-color: #223446;
}

.actionBtn a, input.clearBtn {
    color: #223446;
    background-color: whitesmoke;
}

.actionBtn a:hover, input.actionBtn:hover, input.clearBtn:hover, div#cartSumm a:hover {
    background-color: silver;
    color: #223446;
}

.actionBtn a:active, input.actionBtn:active, input.clearBtn:active, div#cartSumm a:active {
    background-color: #666666;
    color: whitesmoke;
}

div#cartSumm {
    float: right;
    margin: .3em 0 .3em .8em;
}

div#cartSumm a {
    color: whitesmoke;
    font-size: 90%;
    text-decoration: none;
    padding: .3em 1em .3em 1em;
    line-height: 2.1em;
    margin-left: .5em;
    background-color: #223446;
    border: 1px dotted whitesmoke;
}

